@import url('https://rsms.me/inter/inter-ui.css');

@tailwind base;

html {
  line-height: 1.15; /* https://tailwindcss.com/docs/upgrading-to-v1#17-double-check-your-default-line-height */
}

@tailwind components;

@tailwind utilities;

.theme-light {
  --color-bg-default: white;
  --color-grey-100: #E6F2F9;
  --color-grey-200: #D7E8F3;
  --color-grey-300: #BFD5E5;
  --color-grey-400: #99B2C7;
  --color-grey: #5E7388;
  --color-grey-600: #233449;
  --color-grey-700: #0D1727;
  --color-grey-800: #050A15;
  --color-grey-900: #02050B;
  --color-primary: #0988CA;
}
.theme-dark {
  --color-bg-default: #0D1727;
  --color-grey-100: #233449;
  --color-grey-200: #5E7388;
  --color-grey-300: #99B2C7;
  --color-grey-400: #BFD5E5;
  --color-grey: #D7E8F3;
  --color-grey-600: #5E7388;
  --color-grey-700: #99B2C7;
  --color-grey-800: #BFD5E5;
  --color-grey-900: #D7E8F3;
  --color-primary: #31BAE3;
}
